* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.5rem;
  background-image: url(../img/sfondo.png);
  background-size: 150%;
  background-position: 70% 100%;
  font-family: Poppins;
  margin-inline: auto;
}

header {
  background: #009fc5;
  background: linear-gradient(180deg, rgba(0, 159, 197, 1) 0%, rgba(2, 109, 136, 1) 100%);
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

header li {
  line-height: 2.1em;
}

header a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

main {
  background-color: #fff;
  box-shadow: 0 3px 2px 1px RGB(0 0 0/0.5);
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size: 1.3em;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 0.8em;
}

p {
  padding-bottom: 1.3em;
  line-height: 1.4em;
}

p strong {
  color: #aa2072;
  font-weight: 600;
}

main ul {
  padding-left: 1.3em;
  padding-bottom: 1.3em;
}
main ul li {
  list-style-type: disc;
  /* list-style-position: inside; */
  line-height: 1.4em;
}

main ol {
  padding-left: 1.3em;
  padding-bottom: 1.3em;
}
main ol li {
  list-style-type: decimal;
  /* list-style-position: inside; */
  line-height: 1.4em;
}

caption {
  font-weight: 600;
  font-style: italic;
}

code {
  background: #e2e1e2;
  border: 1.5px solid #908e8f;
  border-radius: 6px;
}

table {
  width: 100%;
  border-bottom: 2px solid #3c6ac8;
  margin-bottom: 2em;
}
thead {
  background-color: #3c6ac8;
  color: white;
  /* line-height: 5em; */

  text-align: center;
}

thead th {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

tbody {
  text-align: center;
}

tbody td {
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

article a,
aside a {
  color: #0099cc;
  font-weight: 600;
}

aside p {
  font-weight: 500;
  padding-top: 0.4em;
}

aside p:last-child {
  text-align: right;
  font-size: smaller;
  padding-top: 0;
}

iframe {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  border-radius: 20px;
  margin-bottom: 2em;
}

section {
  background-color: #e3e2e4;
  padding-left: 1em;
  padding-right: 1em;
}

section h2,
aside h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 550;
  padding-top: 1em;
  padding-bottom: 1.4em;
}

form {
  width: 100%;
  padding-bottom: 1em;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 550;
  color: white;
  background-color: #3c6ac9;
  border: 0px;
  /* padding-top: 0.2em;
  padding-bottom: 0.2em; */
  height: 40px;
  width: 32%;
  overflow: hidden;
}

input {
  width: 65%;
  /* font-family: inherit; */
  font-size: inherit;
  border: 0px;
  /* padding-top: 0.2em;
  padding-bottom: 0.2em; */
  height: 45px;
  border-bottom: 1px dashed black;
}

aside div {
  background-color: #e3e2e4;
  margin-bottom: 1em;
  border: 2px solid #cccccc;
  padding: 1em;
}

footer {
  background-color: #aa2072;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding: 1em;
  line-height: 1.4em;
  padding-bottom: 2.5em;
  background: #005566;
  background: linear-gradient(180deg, rgba(0, 85, 102, 1) 0%, rgba(51, 54, 54, 1) 100%);
}

footer a {
  color: #ff00fe;
  font-weight: 550;
}
.maiuschead {
  text-transform: uppercase;
  color: white;
  font-weight: 550;
  font-size: 1.3em;
}

.maintitle {
  padding-bottom: 1.4em;
}

.author {
  color: #a0a1a1;
  padding-bottom: 1em;
}

.pairrow {
  background-color: #f2f2f2;
}

#logo {
  width: 80%;
  margin-bottom: 2rem;
}

#iframealign {
  text-align: center;
}
