* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.5rem;
  background-image: url(../img/sfondo.png);
  background-size: 150%;
  background-position: 70% 100%;
  font-family: Poppins;
  margin-inline: auto;
}

header {
  background: #009fc5;
  background: linear-gradient(180deg, rgba(0, 159, 197, 1) 0%, rgba(2, 109, 136, 1) 100%);
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

header li {
  line-height: 2.1em;
}

header a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

main {
  background-color: #fff;
  box-shadow: 0 3px 2px 1px RGB(0 0 0/0.5);
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size: 1.3em;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 0.8em;
}

p {
  padding-bottom: 1.3em;
  line-height: 1.4em;
}

p strong {
  color: #aa2072;
  font-weight: 600;
}

main ul {
  padding-left: 1.3em;
  padding-bottom: 1.3em;
}
main ul li {
  list-style-type: disc;
  /* list-style-position: inside; */
  line-height: 1.4em;
}

main ol {
  padding-left: 1.3em;
  padding-bottom: 1.3em;
}
main ol li {
  list-style-type: decimal;
  /* list-style-position: inside; */
  line-height: 1.4em;
}

caption {
  font-weight: 600;
  font-style: italic;
}

code {
  background: #e2e1e2;
  border: 1.5px solid #908e8f;
  border-radius: 6px;
}

table {
  width: 100%;
  border-bottom: 2px solid #3c6ac8;
  margin-bottom: 2em;
}
thead {
  background-color: #3c6ac8;
  color: white;
  /* line-height: 5em; */

  text-align: center;
}

thead th {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

tbody {
  text-align: center;
}

tbody td {
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

article a {
  color: #0099cc;
  font-weight: 600;
}

iframe {
  width: 100%;
  max-width: 500px;
  min-height: 250px;
  height: auto;
  border-radius: 20px;
}

.maiuschead {
  text-transform: uppercase;
  color: white;
  font-weight: 550;
  font-size: 1.4em;
}

.maintitle {
  padding-bottom: 1.4em;
}

.author {
  color: #a0a1a1;
  padding-bottom: 1em;
}

#logo {
  width: 80%;
  margin-bottom: 2rem;
}
